<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>cexiangyangwoqizuo_thumb.png</string>
		<key>name</key>
		<string>侧向仰卧起坐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fubulashendongzuo_thumb.png</string>
		<key>name</key>
		<string>腹部拉伸动作</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gaotaituipao_thumb.png</string>
		<key>name</key>
		<string>高抬腿跑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>guizifuwocheng_thumb.png</string>
		<key>name</key>
		<string>跪姿俯卧撑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>juanfu_thumb.png</string>
		<key>name</key>
		<string>卷腹</string>
	</dict>
	<dict>
		<key>image</key>
		<string>kaoqiangjingdun_thumb.png</string>
		<key>name</key>
		<string>靠墙静蹲</string>
	</dict>
	<dict>
		<key>image</key>
		<string>liwochengtiao_thumb.png</string>
		<key>name</key>
		<string>立卧撑跳</string>
	</dict>
	<dict>
		<key>image</key>
		<string>pingbanzhicheng_thumb.png</string>
		<key>name</key>
		<string>平板支撑</string>
	</dict>
	<dict>
		<key>image</key>
		<string>shuipingshendun_thumb.png</string>
		<key>name</key>
		<string>水平深蹲</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tiaoyuejizhang_thumb.png</string>
		<key>name</key>
		<string>跳跃击掌</string>
	</dict>
	<dict>
		<key>image</key>
		<string>xuanxiyundong_thumb.png</string>
		<key>name</key>
		<string>悬膝运动</string>
	</dict>
	<dict>
		<key>image</key>
		<string>xunjianyundong_thumb.png</string>
		<key>name</key>
		<string>旋肩运动</string>
	</dict>
	<dict>
		<key>image</key>
		<string>yangwoqizuo_thumb.png</string>
		<key>name</key>
		<string>仰卧起坐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>yangwotaitui_thumb.png</string>
		<key>name</key>
		<string>仰卧抬腿</string>
	</dict>
</array>
</plist>
