<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lianlian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45877E6E1C9AA7B200D56788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45877E871C9AA7B300D56788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45877E921C9AA7B300D56788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
